{% extends 'base.html.twig' %}
{% block title %}Twitter Appie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
    <ul class="breadcrumbs">
        <li><a href="{{ asset('/') }}">Home</a></li>
        <li>/</li>
        <li>login</li>
    </ul>
    <div class="clearfix"></div>
    <h2> inloggen</h2>
    <div class="boxie">
        <ul>
            <li>
                {% block form_widget_simple %}
                {{ form_start(login_form) }}
                {{ form_errors(login_form.username) }}
                {{ form_widget(login_form.username) }}
            </li>
            <li>
                {{ form_errors(login_form.password) }}
                {{ form_widget(login_form.password) }}
            </li>
            <li>
                {{ form_widget(login_form.Inloggen) }}
            </li>
            {{ form_end(login_form) }}
            {% endblock form_widget_simple %}
        </ul>
    </div>
    <div class="clearfix"></div>
{% endblock %}



