{% extends 'base.html.twig' %}
{% block title %}Twitter Appie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
            <h1>Twitter APP</h1>
            <ul class="breadcrumbs">
                <li><a href="">Home</a></li>
                <li>/</li>
                <li><li><a href="twitter">Twitter</a></li>
                <li>/</li>
                <li>registeren</li>
            </ul>
            <div class="clearfix"></div>
            <h2> registeren</h2>
            <div class="boxie">
                <ul>
                    <li>
                        {% block form_widget_simple %}
                        {{ form_start(register_form) }}
                        {{ form_errors(register_form.username) }}
                        {{ form_widget(register_form.username) }}
                    </li>
                    <li>
                        {{ form_errors(register_form.password) }}
                        {{ form_widget(register_form.password) }}
                    </li>
                    <li>
                        {{ form_errors(register_form.email) }}
                        {{ form_widget(register_form.email) }}
                    </li>
                    <li>
                        {{ form_widget(register_form.Registreren) }}
                    </li>
                    {{ form_end(register_form) }}
                    {% endblock form_widget_simple %}
                </ul>
            </div>
            <div class="clearfix"></div>
            <span id="credit">&copy; copyright {{ current_year }} twitter app - a simple sf2 web appie</span>
{% endblock %}



