{% extends 'base.html.twig' %}
{% block title %}Twitter Appie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
    <ul class="breadcrumbs">
        <li><a href="{{ asset('/') }}">Home</a></li>
        <li>/</li>
        <li>
        <li><a href="{{ asset('/twitter') }}">Twitter</li>
        <li>/</li>
        <li>Bericht Gepost</li>
    </ul>
    <div class="clearfix"></div>
    <div class="boxie">
        <img src="{{ asset('images/green_checky.png') }}" alt="green_check_succes"/>

        <h2>Super! Je bericht met titel: <span class="color_green">{{ getTitle }}</span> is gepost!</h2>
        <br>
        => bericht {{ getPostContent }}
    </div>
    <div class="clearfix"></div>
{% endblock %}



