{% extends 'base.html.twig' %}
{% block title %}Twitter Appie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
    <h1>Twitter APP</h1>
    <ul class="breadcrumbs">
        <li><a href="{{ asset('/') }}">Home</a></li>
        <li>/</li>
        <li>
        <li><a href="{{ asset('/register') }}">Registreren</li>
        <li>/</li>
        <li>Account Geregistreerd</li>
    </ul>
    <div class="clearfix"></div>
    <div class="boxie">
        <img src="{{ asset('images/green_checky.png') }}" alt="green_check_succes"/>

        <h2>Super! Je account is nu geregistreerd. Je kan nu <a href="{{ asset('/login') }}">inloggen</a>.</h2>
    </div>
    <div class="clearfix"></div>
    <span id="credit">&copy; copyright {{ current_year }} twitter app - a simple sf2 web appie</span>
{% endblock %}



