{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
	<!--twitter data var pass from controller: {{ value }} -->
<!-- product naam: {{product.name}} is prijs -> {{product.price}} -->
<div id="container">

	<div class="container_space">

<h1>Twitter APP</h1>
	       <ul class="breadcrumbs">
          <li><a href="">Home</a></li>
                  <li>/</li>
                  <li>Twitter</li>      
            </ul>
	<form action="" method="post" action="#">
	<ul>
		{% for p in product %}
			<li>naam: {{p.name}} && price {{p.price}} &&  {{p.description}}</li>
		{% endfor %}
		<li><input type="text" name="title" value="title value"></li>
		<li><textarea rows="4" cols="50">post body here</textarea></li>
		<li><input type="submit" name="title" value="twitter nu"></li>
	</ul>
	</form>
	</div>
</div>	
{% endblock %}



