<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Twitter Appie {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="container">
    <div class="container_space">
        <h1>Twitter APP</h1>
        {% block body %}{% endblock %}
        <span id="credit">&copy; Copyright {{ current_year }} twitter app - a simple sf2 web appie - <a
                    href="{{ asset('/login') }}">login</a>
            - <a href="{{ asset('/register') }}">register</a>  - <a href="{{ asset('/login') }}">account panel</a></span>
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
